*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flexbox;
    background-color: #2d545e;
}

.title {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    color: white;
}

.display {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color:#e2cdb5;
  height: 100vh;
}

.book {
  border: 1px solid black;
  border-radius: 15px;
  margin: 25px 10px;
  padding: 10px;
  flex: 0 0 20%;
  min-width: 0;
  height: 15vh;
  background-color: #70666d;
}

h3, p{
    background-color: #70666d;
    color: white;
    margin: 10px;
    padding: auto;
}