*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: #4c5658;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    color: white;
}

.add{
  margin: 10px;
}

#addBook{
  margin: 10px;
  padding: 10px;
}

#bookTitle, #bookAuthor, #bookPages, #submit{
  margin: 5px 10px;
  padding: 5px;
}

.display {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #e2cdb5;
  flex: 1;
}

.book {
  border: 1px solid black;
  border-radius: 15px;
  margin: 25px 10px;
  padding: 10px;
  flex: 0 0 20%;
  min-height: 180px;
  max-height: 260px;
  background-color: #70666d;
}

h3, p{
    background-color: #70666d;
    color: white;
    margin: 10px;
}

.delButton, .rButton{
  margin: 2px;
  padding: 2px;
}